EI/Enterprise/Student/WebContent/wsdl/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.student.knot.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.student.knot.com" xmlns:intf="http://service.student.knot.com" xmlns:tns1="http://student.knot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.student.knot.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://student.knot.com"/>
   <element name="insert">
    <complexType>
     <sequence>
      <element name="std" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertResponse">
    <complexType>
     <sequence>
      <element name="insertReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudents">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentsResponse">
    <complexType>
     <sequence>
      <element name="getStudentsReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://student.knot.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="mobile" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertRequest">

      <wsdl:part element="impl:insert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentsResponse">

      <wsdl:part element="impl:getStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentsRequest">

      <wsdl:part element="impl:getStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertResponse">

      <wsdl:part element="impl:insertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentService">

      <wsdl:operation name="insert">

         <wsdl:input message="impl:insertRequest" name="insertRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertResponse" name="insertResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudents">

         <wsdl:input message="impl:getStudentsRequest" name="getStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentsResponse" name="getStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceSoapBinding" type="impl:StudentService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceService">

      <wsdl:port binding="impl:StudentServiceSoapBinding" name="StudentService">

         <wsdlsoap:address location="http://localhost:8080/Student/services/StudentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
