EI/Enterprise/Student/WebContent/wsdl/Student.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://student.knot.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://student.knot.com" xmlns:intf="http://student.knot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://student.knot.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="get">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResponse">
    <complexType>
     <sequence>
      <element name="getReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRequest">

      <wsdl:part element="impl:get" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResponse">

      <wsdl:part element="impl:getResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Student">

      <wsdl:operation name="get">

         <wsdl:input message="impl:getRequest" name="getRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResponse" name="getResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentSoapBinding" type="impl:Student">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentService">

      <wsdl:port binding="impl:StudentSoapBinding" name="Student">

         <wsdlsoap:address location="http://localhost:8080/Student/services/Student"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
