EI/TopDown/WebContent/wsdl/ServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviceimpl.knot.com" xmlns:intf="http://serviceimpl.knot.com" xmlns:tns1="http://vo.knot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://serviceimpl.knot.com">
  
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
   
  <wsdl:types>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://serviceimpl.knot.com">
         
      <import namespace="http://vo.knot.com"/>
         
      <element name="returnStr">
            
        <complexType>
               
          <sequence>
                  
            <element name="str" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="returnStrResponse">
            
        <complexType>
               
          <sequence>
                  
            <element name="returnStrReturn" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="getById">
            
        <complexType>
               
          <sequence>
                  
            <element name="id" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="getByIdResponse">
            
        <complexType>
               
          <sequence>
                  
            <element name="getByIdReturn" type="tns1:Employee"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
        
    </schema>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://vo.knot.com">
         
      <complexType name="Employee">
            
        <sequence>
               
          <element name="id" nillable="true" type="xsd:string"/>
               
          <element name="mobile" nillable="true" type="xsd:string"/>
               
          <element name="name" nillable="true" type="xsd:string"/>
              
        </sequence>
           
      </complexType>
        
    </schema>
     
  </wsdl:types>
     
  <wsdl:message name="getByIdRequest">
          
    <wsdl:part element="impl:getById" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="returnStrRequest">
          
    <wsdl:part element="impl:returnStr" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="getByIdResponse">
          
    <wsdl:part element="impl:getByIdResponse" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="returnStrResponse">
          
    <wsdl:part element="impl:returnStrResponse" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:portType name="ServiceImpl">
          
    <wsdl:operation name="returnStr">
               
      <wsdl:input message="impl:returnStrRequest" name="returnStrRequest">

       </wsdl:input>
               
      <wsdl:output message="impl:returnStrResponse" name="returnStrResponse">

       </wsdl:output>
            
    </wsdl:operation>
          
    <wsdl:operation name="getById">
               
      <wsdl:input message="impl:getByIdRequest" name="getByIdRequest">

       </wsdl:input>
               
      <wsdl:output message="impl:getByIdResponse" name="getByIdResponse">

       </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:portType>
     
  <wsdl:binding name="ServiceImplSoapBinding" type="impl:ServiceImpl">
          
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
          
    <wsdl:operation name="returnStr">
               
      <wsdlsoap:operation soapAction="returnStr"/>
               
      <wsdl:input name="returnStrRequest">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:input>
               
      <wsdl:output name="returnStrResponse">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:output>
            
    </wsdl:operation>
          
    <wsdl:operation name="getById">
               
      <wsdlsoap:operation soapAction="getById"/>
               
      <wsdl:input name="getByIdRequest">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:input>
               
      <wsdl:output name="getByIdResponse">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:binding>
     
  <wsdl:service name="ServiceImplService">
          
    <wsdl:port binding="impl:ServiceImplSoapBinding" name="ServiceImpl">
               
      <wsdlsoap:address location="http://localhost:8080/TopDown/services/ServiceImpl"/>
            
    </wsdl:port>
       
  </wsdl:service>
  
</wsdl:definitions>
