EI/Custom/WebContent/wsdl/CustomServ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.custom.knot.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.custom.knot.com" xmlns:intf="http://service.custom.knot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.custom.knot.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getNameById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNameByIdResponse">
    <complexType>
     <sequence>
      <element name="getNameByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNameByIdResponse">

      <wsdl:part element="impl:getNameByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameByIdRequest">

      <wsdl:part element="impl:getNameById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomServ">

      <wsdl:operation name="getNameById">

         <wsdl:input message="impl:getNameByIdRequest" name="getNameByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameByIdResponse" name="getNameByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomServSoapBinding" type="impl:CustomServ">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNameById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomServService">

      <wsdl:port binding="impl:CustomServSoapBinding" name="CustomServ">

         <wsdlsoap:address location="http://localhost:8080/Custom/services/CustomServ"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
