EI/EndPointProject/WebContent/wsdl/Endpoint_USER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://user.knot.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://user.knot.com" xmlns:intf="http://user.knot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://user.knot.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="returnString">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnStringResponse">
    <complexType>
     <sequence>
      <element name="returnStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="returnStringResponse">

      <wsdl:part element="impl:returnStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnStringRequest">

      <wsdl:part element="impl:returnString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Endpoint_USER">

      <wsdl:operation name="returnString">

         <wsdl:input message="impl:returnStringRequest" name="returnStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnStringResponse" name="returnStringResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Endpoint_USERSoapBinding" type="impl:Endpoint_USER">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="returnString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Endpoint_USERService">

      <wsdl:port binding="impl:Endpoint_USERSoapBinding" name="Endpoint_USER">

         <wsdlsoap:address location="http://localhost:8080/EndPointProject/services/Endpoint_USER"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
